<div>
    <div class="main">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
  
      <div *ngIf="authService.auth.user | async as user;">
  
          <div class="profile">
              <img class="profile-picture" src={{user.photoURL}}>
              <h1 class="profile-name" style="color: white;">{{user.displayName}}</h1>
              <h1 class="profile-status">Beginner</h1>
          </div>
      
          <div class="message-container">
              <textarea matInput
                  placeholder="Enter your message"
                  cdkTextareaAutosize
                  contenteditable="true"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
  
              <textarea matInput
                  cdkTextareaAutosize
                  placeholder="Enter a email"
                  contenteditable="true"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="1"></textarea>
                  
              <button mat-flat-button>Add Email</button>  
  
              <input hidden id="file-input" multiple type="file" (change)="myFunction()">
              <button id="file-button" (click)="openFileSelection()" mat-flat-button>Upload files</button> 
          </div>
      </div>
    </div>
  </div>
  
