<div class="navbar-container">
  <mat-nav-list class="navbar-content">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard"
    >
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/send"
    >
      <mat-icon>create</mat-icon> Send
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/profile"
    >
      <mat-icon>perm_identity</mat-icon> Profile
    </a>

    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/github"
    >
        <mat-icon>thumb_up_alt</mat-icon> GitHub
    </a>

  </mat-nav-list>
</div>
