* {
    font-family: Arial, Helvetica, sans-serif;
}

.item {
  background-color: rgb(46, 49, 49);
  border-radius: 4px;
  width: 200px;
  height: 100px;
}

.content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

