<!-- <div *ngIf="afAuth.user">
  <div class="main">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  
    <div class="navbar">
      <nav>
          <div class="menu">
              <a href="https://github.com/PoxhYT/Angular-Bewerbungsbot">GITHUB</a>
              <a href="#">CONTACT</a>
          </div>
      </nav>
    </div>
  
    <p class="title">WELCOME TO ANGULAR-APPLICATION-BOT</p>
  
    <div class="about">
      <p class="sub-title">Why should you use this bot?</p>
      <p class="inforamtion">
        This bot allows you to send your applications within seconds. You can send
        multiple applications at the same time. Manage the status of your
        applications. You can download your documents if you have lost them.
      </p>
  
      <div class="information-picture">
        <img src="https://i.ibb.co/chGmGZn/download.png" />
      </div>
    </div>
  
    <div class="start-journey">
      <p class="journey-information">
        Are you interessted in to start using the bot? What are you waiting for?
        Go ahead and start your journey with the Angular-Application-Bot now!
      </p>
      <button mat-flat-button>START JOURNEY</button>
      <div class="journey-picture">
          <img src="https://i.ibb.co/Jmhz84C/download-1.png"/>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="authService.auth.user | async as user">
  <img src="{{ user.photoURL }}">
  <h1>{{ user.displayName }}</h1>
  <h1>{{ user.email }}</h1>
  <button class="button" (click)="authService.googleLogout()">Logout</button>
</div>

<div *ngIf="!(authService.auth.user | async)">
  User is not logged in
  <button class="button" (click)="authService.googleSignin()">login with Google</button>
</div>

<ng-template #login>
  <button class="button" (click)="googleSignin()">login with Google</button>
</ng-template>
